:root {
  --color-text-black: #3c4043;
  --color-text-grey: #70757a;
  --color-text-blue: #1a0dab;
  --color-background-footer: #70757a;
  --color-background-button: #f8f9fa;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div{
    border: 0px solid red;
}
footer{
    position: absolute;
    bottom: 0;
}
.center {
    text-align: center;
  }

.header{
    position:relative;
    text-align: right;
    height: 60px;
    padding-right: 18px;
    padding-top: 6px;
}

.menu{
    position:relative;
    display: inline-block;
    text-align: right;
    margin-right: 30px;
}

.menu__option{
    display: inline-block;
    padding-left: 15px;
}

.menu__option a{
    display: inline-block;
    vertical-align: middle;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 40px;
}

.menu__option a:hover {
    text-decoration: underline;
}


.session{
    position:relative;
    display: inline-block;
    text-align: right;
}
.session img{
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 4px;
}

.session__circle{
    position: absolute;
}

.products{
    position:relative;
    display: inline-block;
    height: 40PX;
    width: 40px;
}



.products__icon svg{
    height: 40px;
    width: 40px;
    box-sizing: border-box ;
    padding-top: 12px;
    padding-right: -50px;
}

.products__icon{
    position: absolute;
    height: 40PX;
    width: 40px;

}




.row__search {
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  margin-top: 21px;
}

.row__search input {
  border: none;
  margin-top: 5px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.87);
  outline: none; /*Quita el borde cuando tiene el foco*/
  height: 34px;
  width: 90%;
  font-size: 16px;
}


.row__languages{
    color: #4d5156;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: small;
}
input[type="submit"] {
  background-color: var(--color-background-button);
  border: 1px solid var(--color-background-button);
  border-radius: 4px;
  color: var(--color-text-black);
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  cursor: pointer;
}

input[type="submit"]:hover {
    border-color: #70757a3d;
  }

